<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Host=localhost;Port=5432;Database=Beauty_Salon;Username=postgres;Password=12345;Encoding=UTF8"
			 providerName="Npgsql" />
	</connectionStrings>
	
</configuration>